body{
    text-align: center;
    background-image: url('https://images.rawpixel.com/image_1000/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcC00NDgtcGFpLTIwNi5qcGc.jpg');
    
    font-family: sans-serif;
    background-color: #eec0c8;
}
.test {
  display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}


.card{
    position: relative;
    background: #ffe6e6;
    padding:50px;
    width: 300px;
    margin: 20px auto 0 auto;
    box-shadow: 0 2px 4px rgba(100,100,100,.1);
    display: flex;
  }
.card .text {
    color:#212121;
    margin-top:20px;
    font-size:15px;
    line-height:22px;
  }


  










