<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../static/post.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="https://cdn-icons-png.flaticon.com/512/5650/5650592.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Buddies</title>
</head>
<body id="top">
    <h1><br />Wow! You share your birthday with so many people!</h1>
    <a href="/" id="go-back" class="fa fa-home">HOME</a>
    <a href="#bottom" class="reach-bottom">↓</a>
    <br />
    <div class="card-grid">
        {% for i in details['births']: %}
            <div class="card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        {% if 'source' in i['pages'][0]['thumbnail'] %}
                            <img src="{{ i['pages'][0]['thumbnail']['source'] }}" alt="{{i['text']}}" />
                        {% else %}
                            <img src="https://media.tenor.com/vp-Ikh8MS_0AAAAi/rafsdesign-rafs.gif" alt="star" />
                        {% endif %}
                    </div>
                    <div class="flip-card-back">
                        <h3>{{i['text']}}</h3>
                        <a href="{{ i['pages'][0].content_urls.desktop.page }}" target="_blank">Learn more</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <a href="#top" class="back-to-top">↑</a>
    <a id="bottom"></a>
</body>
</html>